*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
}
.container{
	text-align: center;
	padding: 0 95px;
}
.title{
	font-size: 28px;
	padding: 30px;
}
.box-imagenes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img{
	width: 200px;
	height: 200px;
	padding: 2px;
	border: 5px solid #8AE3A3;
	border-radius: 25px;
	margin:3px;
}
.inicio{

}
.fin{
	
}